---
import { Image } from "astro:assets";
import ProjectPageSLider from "../../components/react/ProjectPageSLider";
import Layout from "../../layouts/Layout.astro";
import { client } from "../../lib/sanity/sanity";
import { EVENTS_QUERY } from "../../lib/sanity/sanityQueries";
import { urlForImage } from "../../lib/sanity/urlForImage";
import { cn, containerClass } from "../../lib/utils";
import { useApiData } from "../../lib/zustand/store";

const containerClasses = containerClass(true);

const getData = async () => {
  try {
    const projects = await client.fetch(EVENTS_QUERY);
    console.log(projects);
    return projects || [];
  } catch (err) {
    console.error("Error fetching all projects: " + err);
    return [];
  }
};

const projects = await getData();

console.log(projects);
---

<Layout title="Projects" showPreloaderBol={false}>
  <div class="overflow-hidden">
    <ProjectPageSLider client:load data={projects} />
  </div>
  <div class={cn(containerClasses, "flex flex-col gap-16 !py-[80px] h-full")}>
    <div><h1>Our Work</h1></div>

    <div class="grid grid-cols-3 auto-cols-fr gap-8">
      {
        projects.map((project) => (
          <a href={`/projects/${project.slug?.current}`} class="">
            <div class="max-w-[400px] w-full flex flex-col gap-4">
              {project.image ? (
                <img
                  src={urlForImage(project.image).url()}
                  alt="s"
                  class=" w-full aspect-[1/1.2] h-full object-cover"
                />
              ) : (
                <div class=" w-full aspect-[1/1.2] h-full object-cover bg-slate-200 animate-pulse" />
              )}
              <h5 class=" leading-[110%] ">{project.name}</h5>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
